{% extends 'base.html.twig' %}

{% block title %}Company Research{% endblock %}

{% block body %}
    <h1>Rechercher une entreprise</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Rechercher</button>
    {{ form_end(form) }}

    <a href="{{ path('entreprise_index') }}">Retour</a>
{% endblock %}
