{% extends 'base.html.twig' %}

{% block title %}Edit ActiviteEntreprise{% endblock %}

{% block body %}
    <h1>Modifier l'activité</h1>

    {{ include('activite_entreprise/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('activite_entreprise/_delete_form.html.twig') }}

   
    <table class="table">
        <thead>
            <td>     
                <a title="Retour" href="{{ path('activite_entreprise_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </td>
        </thead>
    </table>     

    
{% endblock %}
