{% extends 'base.html.twig' %}

{% block title %}ActiviteEntreprise{% endblock %}

{% block body %}
    <h1>Activité de l'entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Activité</th>
                <td>{{ activite_entreprise.activite }}</td>
            </tr>

            <td>
                <a title="Retour" href="{{ path('activite_entreprise_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </td>
            <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}        
                    <a title="Modifier" href="{{ path('activite_entreprise_edit', {'id': activite_entreprise.id}) }}"<button class="btn btn-primary"><i class="fa fa-pencil"aria-hidden="true"></i></button></a>
                {% endif %}
            </td>
        </tbody>
    </table>


    {{ include('activite_entreprise/_delete_form.html.twig') }}
{% endblock %}
