.starter-template {
    padding: 3rem 1.5rem;
    /* text-align: center; */
}

.btn {
    margin: 3px;
}

.section1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.title {
    font-family: 'Seymour One', sans-serif;
    font-size: 30px;
    text-align: center;
}

.bg-danger {
    background-color: #c52233 !important;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
