{% extends 'base.html.twig' %}

{% block title %}New Entreprise{% endblock %}

{% block body %}
   {# {% if is_granted('ROLE_SUPER_ADMIN') %}#}
        <h1>Créer une nouvelle entreprise</h1>

        {{ include('entreprise/_form.html.twig') }}

        <table class="table">
            <thead>
                <td>     
                    <a title="Retour" href="{{ path('entreprise_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                </td>
            </thead>
        </table>       
    {#{% endif %}#}
{% endblock %}
    
       
    