{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">Retour</a>
{% endblock %}
