{% extends 'base.html.twig' %}

{% block title %}New Periode{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Créer une nouvelle période</h1>

    {{ include('periode/_form.html.twig') }}
    <table class="table">
        <thead>
            <td>     
                <a title="Retour" href="{{ path('periode_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </td>
        </thead>
    </table>

{% endblock %}
