{% extends 'base.html.twig' %}

{% block title %}Edit BTS{% endblock %}

{% block body %}
    <h1>Edit BTS</h1>

    {{ include('bts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('b_t_s_index') }}">back to list</a>

    {{ include('bts/_delete_form.html.twig') }}
{% endblock %}
