{% extends 'base.html.twig' %}

{% block title %}New BTS{% endblock %}

{% block body %}
    <h1>Créer un nouveau BTS</h1>

    {{ include('bts/_form.html.twig') }}

     <table class="table">
        <thead>
            <td>     
                <a title="Retour" href="{{ path('b_t_s_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </td>
        </thead>
    </table>
{% endblock %}
