{% extends 'base.html.twig' %}

{% block title %}New BTS{% endblock %}

{% block body %}
    <h1>Créer un nouveau BTS</h1>

    {{ include('bts/_form.html.twig') }}

    <a href="{{ path('b_t_s_index') }}">Retour</a>
{% endblock %}
