{% extends 'base.html.twig' %}

{% block title %}New CompteRendu{% endblock %}

{% block body %}
    <h1>Faire un compte-rendu</h1>

    {{ include('compte_rendu/_form.html.twig') }}

    <a href="{{ path('compte_rendu_index') }}">Retour</a>
{% endblock %}
